@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  cursor: url("assets/img/cursor_avdanos.png"), auto;
}

* {
  box-sizing: border-box;
}

.glow {
  box-shadow: 0 0 30px #e11d48, 0 0 74px #ea580c;
  width: 100vw;
  position: absolute;
}
