@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  cursor: url("assets/img/cursor_avdanos.png"), default;
}

* {
  box-sizing: border-box;
}

.glow {
  box-shadow: 0 0 30px #e11d48, 0 0 74px #ea580c;
  width: 100vw;
  position: absolute;
}

.fade-in {
  animation: slide-in .2s linear;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  70% {
    opacity: 100;
  }
  to {
    transform: translateY(0px);
  }
}